@charset "utf-8";
/* CSS Document */

:root {
   --cor-primary: #1a5fb4;
   --cor-primary-light: #5c80bc;
   --cor-secondary: #26a269;
   --cor-yellowish: #f5c211;
   --cor-gray: #cdd1c4;
}

body {
   margin: 0px;
   padding: 0px;
   background-color: #161616;
   font-family: "Roboto", sans-serif;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}
